<!DOCTYPE html>
<html lang="en">
<head>

	<title>Speech Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<style>
		.container{
			margin-top: 2rem;
		}
		
		#sampleRate{
			padding-top: 1rem;
		}
		#hasil{
			font-size: 22pt;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row gx-5">
            <div class="col-10">
                <h1>Voice to Text</h1>
                <p>Project for Speech Processing</p>
            </div>
        </div>
		<hr>
		<div class="row">
			<div class="col-12">
				<p><strong>Record ur voice :</strong></p>
    			<button id="button_record" class="btn btn-dark">Record</button>
    			<button id="button_stop" class="btn btn-dark" disabled>Stop</button><br>
    			<p id="sampleRate">Sample Rate = </p>
				<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    			<p><strong>Record result:</strong></p><br>
				<ul id="recordingsList"></ul>
			</div>
			<di class="col-12">
				<h3>Analysis :</h3>
				<p id="hasil"></p>
			</di>
			
		</div>

		
    </div>
</body>
</html>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main_js.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- SAUCE SECTION

sauce = https://blog.addpipe.com/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/
sauce = https://github.com/addpipe/simple-recorderjs-demo
sauce = https://codepen.io/naicuoctavian/embed/GRgzqBg?height=265&theme-id=default&default-tab=js%2Cresult&user=naicuoctavian&slug-hash=GRgzqBg&pen-title=Audio%20Recording%20with%20MediaStream%20Recorder%20API&name=cp_embed_1
sauce = https://programmierfrage.com/items/save-audio-file-specific-folder-on-server
sauce = https://ourcodeworld.com/articles/read/499/how-to-record-and-export-audio-wav-and-mp3-using-recorder-js-in-html5
sauce = https://forum.arduino.cc/t/getusermedia-and-recorder-js-for-save-blob-wav-in-sd-with-php/260564 -->
